# Server
PORT=3001

# Evaluation server
API_BASE_URL=http://20.207.122.201
LOG_API_URL=http://20.207.122.201/evaluation-service/logs

# Bearer token from /evaluation-service/auth
AUTH_TOKEN=your_bearer_token_here
